.todoContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;

  width: 100%;
}
.backgroundContainer {
  height: 100vh;
  background-color: rgba(194, 229, 215, 0.5);
}
.editsContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px 30px;

  margin-bottom: 10px;
}

button {
  height: 30px;
  width: 30px;
  margin-top: 10px;
  margin-left: 5px;

  border: none;
  border-radius: 1px;

  font-weight: bolder;
  font-size: 20px;
  color: #ffffff;

  cursor: pointer;
}

.saveListContainer {
  color: #666668;
}

.addEvent {
  background-color: #4dc4ec;
  color: #ffffff;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.05);

  border-radius: 3px;
}

.removeEvent {
  background-color: #9ecd49;
  color: #ffffff;
  margin-left: 0.5vw;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.05);

  border-radius: 3px;
}

.addEvent:hover {
  background-color: #ffffff;
  color: #4dc4ec;
}
.removeEvent:hover {
  background-color: #ffffff;
  color: #9ecd49;
}
.cardsContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
